<ion-header></ion-header>
<ion-app>
  <ion-split-pane when="xs" contentId="main">
    <ion-menu contentId="main">

      <ion-content class="ion-padding"> 
        
        <ion-list>
          <ion-item><a [routerLink]="['/home']">
            <ion-label>صفحه اصلی</ion-label>
            </a>
          </ion-item>
          <ion-item> 
            <a [routerLink]="['/login']">
            <ion-label>لاگین</ion-label>
            </a>
          </ion-item>
          <ion-item> 
            
            <ion-label>مدیریت محصولات</ion-label>
            
            <ion-list>
              <ion-item> 
                <a [routerLink]="['/products']">
                  <ion-label>نمایش محصولات</ion-label>
                  </a>
              </ion-item>
              <ion-item> 
                <a [routerLink]="['/add-product']">
                  <ion-label>اضافه کردن محصولات</ion-label>
                  </a>
              </ion-item>
              <ion-item> 
                <a [routerLink]="['/edit-product']">
                  <ion-label> ویرایش محصولات</ion-label>
                  </a>
              </ion-item>
            </ion-list>
          </ion-item>
          <ion-item> 
            <a [routerLink]="['/users']">
            <ion-label>مدیریت کاربران</ion-label>
            </a>
          </ion-item>
        </ion-list>
      
      
      
      </ion-content>
    </ion-menu>
  
    <div class="ion-page" id="main">

      <ion-content class="ion-padding"> Main View Content   <ion-router-outlet id="main"></ion-router-outlet></ion-content>
    </div>
  </ion-split-pane>

</ion-app>
